*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.body{
    background-color:#f4f4f4 ;
}
 
.naveber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #cfd3e5;
    color: rgb(218, 152, 220);
}
.logo img {
    height: 50px;
}

.navigastion{
    list-style: none;
    display: flex;
    gap: 25px;
}

.navigastion li a{
    width: 20px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(134, 71, 193);
    font-size: 16px;
    transition: 0.3s;
}
.navigastion a:hover {
    background-color: #5c3aca;
    border-radius: 10px;
    color: white;
   
}

.button button{
   
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.button1{
    background-color: rgb(63, 63, 160);
}
.button2{
    background-color: rgb(198, 93, 93);
}
.button button:hover{
    background-color: #949993;
    color:rgb(41, 38, 38) ;
}

.body{
   display: flex; 
   padding: 80px 50px;
  flex-direction: row;
   align-items: center;
   justify-content: space-between;
   background-color: rgb(235, 205, 205);
   gap: 40px;
 }
 .text {

    max-width: 600px;
}

.body h3 {
    font-size:22px ;
    font-weight: 500 ;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(230, 70, 70);
    display: inline-block;
    padding: 5px 15px;
    border-radius: 14px;
}

.body h1 {
    font-size:48px ;
    font-weight: 800;
    color:rgb(62, 62, 125) ;
    margin-bottom: 10px;
}
.body p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #444;

}



 .login .button4{
    background: #d15454;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;


} 
.login .button3{
    background: #4c20b3;
    border: none;
    padding: 12px 25px;
    margin-right: 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;


}
.login .button3:hover{
    background: #c49959;
}
.login .button4:hover{
    background: #cf9a4b;
}


.body img{
    max-width: 500px;
    width: 100%;
    /* border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); */
}


.view{
width: 100%;
height: 300px;
display: flex;
background-color: #f4f4f4;
flex-direction: row;
align-items: center;
justify-content: space-between;



}

.box1{
width: 300px;
height: 200px;
padding: 10px;
border: 1px solid black;
}

.box2{
width: 300px;
height: 200px;
padding: 10px;
border: 1px solid black;
}

.box3{
width: 300px;
height: 200px;
padding: 10px;
border: 1px solid black;
}

.box4{
width: 300px;
height: 200px;
padding: 10px;
border: 1px solid black;
}

.imag1 {
display: flex;
height: 50px;
justify-content: center;
align-items: center;

}
.imag1 img {
    max-width: 100%;
    max-height: 100%;
}


h2{
color: #4c20b3;
justify-content: center;
text-align: center;
}

p{
    text-align: center;
}

.course{
    
    width: 100%;
   
    background-color: #dcd9e5;


}
.course h1{
    text-align: center;
    justify-content: center;
    color: #4c20b3;
}
.table{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
    
}
 .imge2 {
display: flex;

height: 400px;
justify-content: center;
align-items: center;
 }
.imge2 img{
   max-width: 100%;
    max-height: 100%; 
}


.course1{
    width: 400px;
    height: 500px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 4px 10px ;

}

.course2{
    width: 400px;
    height: 500px;
   background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 4px 10px ;
}

.course3{
    width: 400px;
    height: 500px;
     background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 4px 10px ;
}

.span1{
   
    margin: 3px;
    text-align: center;
    justify-content: space-between;
    gap:100% ;


}
.button5 button {
   
    background: #4c20b3;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 10px 140px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s; 
}

.button5 button:hover{
    background-color: #949993;
}
.ditels h1{
    text-align: center;
    color: #443476;
    padding: 10px;
}
.ditels p{
    color: #43316d;
    font-size: 20px;
    padding: 10px;
}
  .footer{
display: grid;
justify-content: center;
text-align: center;
background-color: #c3bbe1;
padding: 10px;

  }

  address{
    font-size: 40px;

  }

  .copyright{
    color: #cfd3e5;
    background-color: #d44343;
    padding: 10px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
  }

  @media (max-width:900px){
 .naveber{
    flex-direction: column;
    padding: 15px 20px;
    text-align: center;
 }
  .navigastion{
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }
  .body{
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
  }
  .view{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: auto;
  }
  .box1, .box2, .box3, .box4 {
    width: 45%;
    height: auto;
  }

  .table{
    flex-direction: column;
    gap: 20px;
  }
   .course1, .course2, .course3{

    width: 80%;
    height: auto;
   }

  }

  @media (max-width: 576px){
.naveber{
    flex-direction: column;
    padding: 10px;
}
 .navigastion{
    flex-direction: column;
    gap: 10px;
 }
  .body h1 {
    font-size: 28px;
  }
  .body h3 {
    font-size: 16px;
    padding: 5px 10px;

  }
  .body p{
    font-size: 14px;
  }
   .body img {
    max-width: 100%;
   }

   .view{
    flex-direction: column;
    gap: 15px;
    height: auto;
   }
    .box1, .box2, .box3, .box4 {
    width: 90%;
    
  }
  .table{
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .course1, .course2 ,.course3 {
    width: 95%;
    height:auto ;
  }
  .button5 button{
    padding: 10px 155px;
    font-size: 14px;
  }
  address {
    font-size: 22px;
  }
 .ditels p{
    font-size: 16px;
 }

 
  

}
